.hero {
  display: flex;
  padding: 60px;
  padding-bottom: 10px;
  padding-top: 20px;
}

.hero_left {
  margin-top: 60px;
}
.cards_row {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
}

.hero_right img {
  height: 500px;
}

.ai_part {
  display: flex;
  justify-content: space-between;
}

.ai_features {
  display: flex;
  justify-content: space-evenly;
}

footer {
  /* position: fixed; */
  bottom: 0;
  width: 100%;
  margin-top: 50px;
  padding: 10px;
  border-radius: 5px;
}

.footer-info {
  display: flex;
  align-items: top;
  justify-content: space-evenly;
}

.social {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.wrapper {
  width: 100%;
}

